<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <center>
            <h1>display webpages</h1>
            <table border="3px">
                <tr>
                    <th>Topic_name</th>
                    <th>name</th>
                    <th>url</th>
                </tr>

                {% for i in EWOS %}

                    <tr>
                        <td>{{i.topic_name}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.url}}</td>
                    </tr>

                {% endfor %}
            </table>
        </center>
</body>
</html>