<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>multiple webpages selection</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="tn">Topic_name</label>
            <select name="tn" id="tn" multiple>
                {% for i in TO %}

                    <option value="{{i}}">{{i.topic_name}}</option>



                {% endfor %}
            </select><br><br>

            <input type="submit" value="insert_webpage">
        </form>
    </center>
</body>
</html>